body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
 
.navbar-brand .small-text {
    font-size: 0.75rem; 
    line-height: 1;
    opacity: 0.8; 
    margin-top: -0.2rem; 
    display:flex;
  justify-content: center; 
}


.navbar-brand strong {
    color: white;
}
.carousel img {
  height: 80vh;
  object-fit: cover;
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

#cookieAlert {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2000;
}

@media (max-width: 768px) {
  .carousel img {
    height: 50vh;
  }
}
